.customAlert{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    max-width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    min-width: 300px;
}

.imgBinjin{
    width: 100%;
}
.alertTextDiv{
    margin-top: 45%;
    height: 40%;
    width: 100%;
    position:absolute;
    text-align: center;
    display: grid;
    grid-template-rows: 80% 20%;
}

.alertMsg{
    display: flex;
    align-items: center;
    justify-content: center;
    width:90%;
    font-size: 1.3rem;
    height: 10vh;
    justify-self: center;
    font-family: 'ComicBold';
    color: #68400a;
    padding: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.btnOkay{
    width: 50%;
    justify-self: center;
    border: none;
    background-color: #F86B87;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    font-family: "ComicBold";
    padding-top: 0px;
    margin-top: 0px;
}
